<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>emoticon</string>
		<key>group</key>
		<string>emoticon</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>text</key>
				<string>呲牙</string>
				<key>image</key>
				<string>Expression_1</string>
			</dict>
			<dict>
				<key>text</key>
				<string>大笑</string>
				<key>image</key>
				<string>Expression_2</string>
			</dict>
			<dict>
				<key>text</key>
				<string>害羞</string>
				<key>image</key>
				<string>Expression_3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>可爱</string>
				<key>image</key>
				<string>Expression_4</string>
			</dict>
			<dict>
				<key>text</key>
				<string>偷笑</string>
				<key>image</key>
				<string>Expression_5</string>
			</dict>
			<dict>
				<key>text</key>
				<string>再见</string>
				<key>image</key>
				<string>Expression_6</string>
			</dict>
			<dict>
				<key>text</key>
				<string>惊讶</string>
				<key>image</key>
				<string>Expression_7</string>
			</dict>
			<dict>
				<key>text</key>
				<string>哭笑</string>
				<key>image</key>
				<string>Expression_8</string>
			</dict>
			<dict>
				<key>text</key>
				<string>酷</string>
				<key>image</key>
				<string>Expression_9</string>
			</dict>
			<dict>
				<key>text</key>
				<string>奸笑</string>
				<key>image</key>
				<string>Expression_10</string>
			</dict>
			<dict>
				<key>text</key>
				<string>鼓掌</string>
				<key>image</key>
				<string>Expression_11</string>
			</dict>
			<dict>
				<key>text</key>
				<string>大哭</string>
				<key>image</key>
				<string>Expression_12</string>
			</dict>
			<dict>
				<key>text</key>
				<string>敲打</string>
				<key>image</key>
				<string>Expression_13</string>
			</dict>
			<dict>
				<key>text</key>
				<string>吃瓜</string>
				<key>image</key>
				<string>Expression_14</string>
			</dict>
			<dict>
				<key>text</key>
				<string>让我看看</string>
				<key>image</key>
				<string>Expression_15</string>
			</dict>
			<dict>
				<key>text</key>
				<string>按脸哭</string>
				<key>image</key>
				<string>Expression_16</string>
			</dict>
			<dict>
				<key>text</key>
				<string>打哈欠</string>
				<key>image</key>
				<string>Expression_17</string>
			</dict>
			<dict>
				<key>text</key>
				<string>愤怒</string>
				<key>image</key>
				<string>Expression_18</string>
			</dict>
			<dict>
				<key>text</key>
				<string>难过</string>
				<key>image</key>
				<string>Expression_19</string>
			</dict>
			<dict>
				<key>text</key>
				<string>ok</string>
				<key>image</key>
				<string>Expression_20</string>
			</dict>
			<dict>
				<key>text</key>
				<string>爱心</string>
				<key>image</key>
				<string>Expression_21</string>
			</dict>
			<dict>
				<key>text</key>
				<string>加1</string>
				<key>image</key>
				<string>Expression_22</string>
			</dict>
			<dict>
				<key>text</key>
				<string>心碎</string>
				<key>image</key>
				<string>Expression_23</string>
			</dict>
			<dict>
				<key>text</key>
				<string>正确</string>
				<key>image</key>
				<string>Expression_24</string>
			</dict>
			<dict>
				<key>text</key>
				<string>错误</string>
				<key>image</key>
				<string>Expression_25</string>
			</dict>
			<dict>
				<key>text</key>
				<string>满分</string>
				<key>image</key>
				<string>Expression_26</string>
			</dict>
			<dict>
				<key>text</key>
				<string>笔记</string>
				<key>image</key>
				<string>Expression_27</string>
			</dict>
			<dict>
				<key>text</key>
				<string>胜利</string>
				<key>image</key>
				<string>Expression_28</string>
			</dict>
			<dict>
				<key>text</key>
				<string>比心</string>
				<key>image</key>
				<string>Expression_29</string>
			</dict>
			<dict>
				<key>text</key>
				<string>赞</string>
				<key>image</key>
				<string>Expression_30</string>
			</dict>
			<dict>
				<key>text</key>
				<string>蛋糕</string>
				<key>image</key>
				<string>Expression_31</string>
			</dict>
			<dict>
				<key>text</key>
				<string>红包</string>
				<key>image</key>
				<string>Expression_32</string>
			</dict>
			<dict>
				<key>text</key>
				<string>礼物</string>
				<key>image</key>
				<string>Expression_33</string>
			</dict>
			<dict>
				<key>text</key>
				<string>奶茶</string>
				<key>image</key>
				<string>Expression_34</string>
			</dict>
			<dict>
				<key>text</key>
				<string>时钟</string>
				<key>image</key>
				<string>Expression_35</string>
			</dict>
			<dict>
				<key>text</key>
				<string>晚安</string>
				<key>image</key>
				<string>Expression_36</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
